<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Occurrences</key>
	<array>
		<dict>
			<key>occurrenceId</key>
			<integer>1</integer>
			<key>seriesId</key>
			<integer>1</integer>
			<key>occurrenceDate</key>
			<date>2011-12-01T16:05:06Z</date>
			<key>auditorId</key>
			<integer>0</integer>
			<key>leadAuditorId</key>
			<integer>0</integer>
			<key>isActive</key>
			<true/>
			<key>EnteredBy</key>
			<integer>1</integer>
			<key>ModifiedBy</key>
			<integer>1</integer>
			<key>dateEntered</key>
			<date>2011-12-12T16:05:32Z</date>
			<key>dateModified</key>
			<date>2011-12-12T16:05:35Z</date>
		</dict>
		<dict>
			<key>occurrenceId</key>
			<integer>1</integer>
			<key>seriesId</key>
			<integer>2</integer>
			<key>occurrenceDate</key>
			<date>2011-12-02T16:05:06Z</date>
			<key>auditorId</key>
			<integer>0</integer>
			<key>leadAuditorId</key>
			<integer>0</integer>
			<key>isActive</key>
			<true/>
			<key>EnteredBy</key>
			<integer>1</integer>
			<key>ModifiedBy</key>
			<integer>1</integer>
			<key>dateEntered</key>
			<date>2011-12-12T16:05:32Z</date>
			<key>dateModified</key>
			<date>2011-12-12T16:05:35Z</date>
		</dict>
		<dict>
			<key>occurrenceId</key>
			<integer>2</integer>
			<key>seriesId</key>
			<integer>1</integer>
			<key>occurrenceDate</key>
			<date>2011-12-03T16:05:06Z</date>
			<key>auditorId</key>
			<integer>0</integer>
			<key>leadAuditorId</key>
			<integer>0</integer>
			<key>isActive</key>
			<true/>
			<key>EnteredBy</key>
			<integer>1</integer>
			<key>ModifiedBy</key>
			<integer>1</integer>
			<key>dateEntered</key>
			<date>2011-12-12T16:05:32Z</date>
			<key>dateModified</key>
			<date>2011-12-12T16:05:35Z</date>
		</dict>
		<dict>
			<key>occurrenceId</key>
			<integer>3</integer>
			<key>seriesId</key>
			<integer>1</integer>
			<key>occurrenceDate</key>
			<date>2011-12-08T16:05:06Z</date>
			<key>auditorId</key>
			<integer>0</integer>
			<key>leadAuditorId</key>
			<integer>0</integer>
			<key>isActive</key>
			<true/>
			<key>EnteredBy</key>
			<integer>1</integer>
			<key>ModifiedBy</key>
			<integer>1</integer>
			<key>dateEntered</key>
			<date>2011-12-12T16:05:32Z</date>
			<key>dateModified</key>
			<date>2011-12-12T16:05:35Z</date>
		</dict>
		<dict>
			<key>occurrenceId</key>
			<integer>4</integer>
			<key>seriesId</key>
			<integer>1</integer>
			<key>occurrenceDate</key>
			<date>2011-12-09T16:05:06Z</date>
			<key>auditorId</key>
			<integer>0</integer>
			<key>leadAuditorId</key>
			<integer>0</integer>
			<key>isActive</key>
			<true/>
			<key>EnteredBy</key>
			<integer>1</integer>
			<key>ModifiedBy</key>
			<integer>1</integer>
			<key>dateEntered</key>
			<date>2011-12-12T16:05:32Z</date>
			<key>dateModified</key>
			<date>2011-12-12T16:05:35Z</date>
		</dict>
		<dict>
			<key>occurrenceId</key>
			<integer>5</integer>
			<key>seriesId</key>
			<integer>1</integer>
			<key>occurrenceDate</key>
			<date>2011-12-12T16:05:06Z</date>
			<key>auditorId</key>
			<integer>0</integer>
			<key>leadAuditorId</key>
			<integer>0</integer>
			<key>isActive</key>
			<true/>
			<key>EnteredBy</key>
			<integer>1</integer>
			<key>ModifiedBy</key>
			<integer>1</integer>
			<key>dateEntered</key>
			<date>2011-12-12T16:05:32Z</date>
			<key>dateModified</key>
			<date>2011-12-12T16:05:35Z</date>
		</dict>
		<dict>
			<key>occurrenceId</key>
			<integer>6</integer>
			<key>seriesId</key>
			<integer>1</integer>
			<key>occurrenceDate</key>
			<date>2011-12-13T16:05:06Z</date>
			<key>auditorId</key>
			<integer>0</integer>
			<key>leadAuditorId</key>
			<integer>0</integer>
			<key>isActive</key>
			<true/>
			<key>EnteredBy</key>
			<integer>1</integer>
			<key>ModifiedBy</key>
			<integer>1</integer>
			<key>dateEntered</key>
			<date>2011-12-12T16:05:32Z</date>
			<key>dateModified</key>
			<date>2011-12-12T16:05:35Z</date>
		</dict>
		<dict>
			<key>occurrenceId</key>
			<integer>7</integer>
			<key>seriesId</key>
			<integer>1</integer>
			<key>occurrenceDate</key>
			<date>2011-12-14T16:05:06Z</date>
			<key>auditorId</key>
			<integer>0</integer>
			<key>leadAuditorId</key>
			<integer>0</integer>
			<key>isActive</key>
			<true/>
			<key>EnteredBy</key>
			<integer>1</integer>
			<key>ModifiedBy</key>
			<integer>1</integer>
			<key>dateEntered</key>
			<date>2011-12-12T16:05:32Z</date>
			<key>dateModified</key>
			<date>2011-12-12T16:05:35Z</date>
		</dict>
		<dict>
			<key>occurrenceId</key>
			<integer>8</integer>
			<key>seriesId</key>
			<integer>1</integer>
			<key>occurrenceDate</key>
			<date>2011-12-16T16:05:06Z</date>
			<key>auditorId</key>
			<integer>0</integer>
			<key>leadAuditorId</key>
			<integer>0</integer>
			<key>isActive</key>
			<true/>
			<key>EnteredBy</key>
			<integer>1</integer>
			<key>ModifiedBy</key>
			<integer>1</integer>
			<key>dateEntered</key>
			<date>2011-12-12T16:05:32Z</date>
			<key>dateModified</key>
			<date>2011-12-12T16:05:35Z</date>
		</dict>
		<dict>
			<key>occurrenceId</key>
			<integer>2</integer>
			<key>seriesId</key>
			<integer>2</integer>
			<key>occurrenceDate</key>
			<date>2011-12-08T16:05:06Z</date>
			<key>auditorId</key>
			<integer>0</integer>
			<key>leadAuditorId</key>
			<integer>0</integer>
			<key>isActive</key>
			<true/>
			<key>EnteredBy</key>
			<integer>1</integer>
			<key>ModifiedBy</key>
			<integer>1</integer>
			<key>dateEntered</key>
			<date>2011-12-12T16:05:32Z</date>
			<key>dateModified</key>
			<date>2011-12-12T16:05:35Z</date>
		</dict>
		<dict>
			<key>occurrenceId</key>
			<integer>3</integer>
			<key>seriesId</key>
			<integer>2</integer>
			<key>occurrenceDate</key>
			<date>2011-12-13T16:05:06Z</date>
			<key>auditorId</key>
			<integer>0</integer>
			<key>leadAuditorId</key>
			<integer>0</integer>
			<key>isActive</key>
			<true/>
			<key>EnteredBy</key>
			<integer>1</integer>
			<key>ModifiedBy</key>
			<integer>1</integer>
			<key>dateEntered</key>
			<date>2011-12-12T16:05:32Z</date>
			<key>dateModified</key>
			<date>2011-12-12T16:05:35Z</date>
		</dict>
		<dict>
			<key>occurrenceId</key>
			<integer>4</integer>
			<key>seriesId</key>
			<integer>2</integer>
			<key>occurrenceDate</key>
			<date>2011-12-23T16:05:06Z</date>
			<key>auditorId</key>
			<integer>0</integer>
			<key>leadAuditorId</key>
			<integer>0</integer>
			<key>isActive</key>
			<true/>
			<key>EnteredBy</key>
			<integer>1</integer>
			<key>ModifiedBy</key>
			<integer>1</integer>
			<key>dateEntered</key>
			<date>2011-12-12T16:05:32Z</date>
			<key>dateModified</key>
			<date>2011-12-12T16:05:35Z</date>
		</dict>
		<dict>
			<key>occurrenceId</key>
			<integer>1</integer>
			<key>seriesId</key>
			<integer>3</integer>
			<key>occurrenceDate</key>
			<date>2011-12-11T16:05:06Z</date>
			<key>auditorId</key>
			<integer>0</integer>
			<key>leadAuditorId</key>
			<integer>0</integer>
			<key>isActive</key>
			<true/>
			<key>EnteredBy</key>
			<integer>1</integer>
			<key>ModifiedBy</key>
			<integer>1</integer>
			<key>dateEntered</key>
			<date>2011-12-12T16:05:32Z</date>
			<key>dateModified</key>
			<date>2011-12-12T16:05:35Z</date>
		</dict>
		<dict>
			<key>occurrenceId</key>
			<integer>2</integer>
			<key>seriesId</key>
			<integer>3</integer>
			<key>occurrenceDate</key>
			<date>2011-12-13T16:05:06Z</date>
			<key>auditorId</key>
			<integer>0</integer>
			<key>leadAuditorId</key>
			<integer>0</integer>
			<key>isActive</key>
			<true/>
			<key>EnteredBy</key>
			<integer>1</integer>
			<key>ModifiedBy</key>
			<integer>1</integer>
			<key>dateEntered</key>
			<date>2011-12-12T16:05:32Z</date>
			<key>dateModified</key>
			<date>2011-12-12T16:05:35Z</date>
		</dict>
		<dict>
			<key>occurrenceId</key>
			<integer>3</integer>
			<key>seriesId</key>
			<integer>3</integer>
			<key>occurrenceDate</key>
			<date>2011-12-14T16:05:06Z</date>
			<key>auditorId</key>
			<integer>0</integer>
			<key>leadAuditorId</key>
			<integer>0</integer>
			<key>isActive</key>
			<true/>
			<key>EnteredBy</key>
			<integer>1</integer>
			<key>ModifiedBy</key>
			<integer>1</integer>
			<key>dateEntered</key>
			<date>2011-12-12T16:05:32Z</date>
			<key>dateModified</key>
			<date>2011-12-12T16:05:35Z</date>
		</dict>
		<dict>
			<key>occurrenceId</key>
			<integer>1</integer>
			<key>seriesId</key>
			<integer>4</integer>
			<key>occurrenceDate</key>
			<date>2011-12-13T16:05:06Z</date>
			<key>auditorId</key>
			<integer>0</integer>
			<key>leadAuditorId</key>
			<integer>0</integer>
			<key>isActive</key>
			<true/>
			<key>EnteredBy</key>
			<integer>1</integer>
			<key>ModifiedBy</key>
			<integer>1</integer>
			<key>dateEntered</key>
			<date>2011-12-12T16:05:32Z</date>
			<key>dateModified</key>
			<date>2011-12-12T16:05:35Z</date>
		</dict>
		<dict>
			<key>occurrenceId</key>
			<integer>2</integer>
			<key>seriesId</key>
			<integer>4</integer>
			<key>occurrenceDate</key>
			<date>2011-12-19T16:05:06Z</date>
			<key>auditorId</key>
			<integer>0</integer>
			<key>leadAuditorId</key>
			<integer>0</integer>
			<key>isActive</key>
			<true/>
			<key>EnteredBy</key>
			<integer>1</integer>
			<key>ModifiedBy</key>
			<integer>1</integer>
			<key>dateEntered</key>
			<date>2011-12-12T16:05:32Z</date>
			<key>dateModified</key>
			<date>2011-12-12T16:05:35Z</date>
		</dict>
		<dict>
			<key>occurrenceId</key>
			<integer>1</integer>
			<key>seriesId</key>
			<integer>5</integer>
			<key>occurrenceDate</key>
			<date>2011-12-01T16:05:06Z</date>
			<key>auditorId</key>
			<integer>0</integer>
			<key>leadAuditorId</key>
			<integer>0</integer>
			<key>isActive</key>
			<true/>
			<key>EnteredBy</key>
			<integer>1</integer>
			<key>ModifiedBy</key>
			<integer>1</integer>
			<key>dateEntered</key>
			<date>2011-12-12T16:05:32Z</date>
			<key>dateModified</key>
			<date>2011-12-12T16:05:35Z</date>
		</dict>
		<dict>
			<key>occurrenceId</key>
			<integer>2</integer>
			<key>seriesId</key>
			<integer>5</integer>
			<key>occurrenceDate</key>
			<date>2011-12-13T16:05:06Z</date>
			<key>auditorId</key>
			<integer>0</integer>
			<key>leadAuditorId</key>
			<integer>0</integer>
			<key>isActive</key>
			<true/>
			<key>EnteredBy</key>
			<integer>1</integer>
			<key>ModifiedBy</key>
			<integer>1</integer>
			<key>dateEntered</key>
			<date>2011-12-12T16:05:32Z</date>
			<key>dateModified</key>
			<date>2011-12-12T16:05:35Z</date>
		</dict>
		<dict>
			<key>occurrenceId</key>
			<integer>3</integer>
			<key>seriesId</key>
			<integer>5</integer>
			<key>occurrenceDate</key>
			<date>2011-12-22T16:05:06Z</date>
			<key>auditorId</key>
			<integer>0</integer>
			<key>leadAuditorId</key>
			<integer>0</integer>
			<key>isActive</key>
			<true/>
			<key>EnteredBy</key>
			<integer>1</integer>
			<key>ModifiedBy</key>
			<integer>1</integer>
			<key>dateEntered</key>
			<date>2011-12-12T16:05:32Z</date>
			<key>dateModified</key>
			<date>2011-12-12T16:05:35Z</date>
		</dict>
	</array>
</dict>
</plist>
